In [1]:
import pandas as pd
data = pd.read_csv('data.csv')

In [2]:
data = data.rename(columns = {"Please Check": "NEW CATEGORY"})

In [3]:
# remove null values
data = data.dropna(subset = ['DESCRIPTION'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11591 entries, 0 to 11677
Data columns (total 12 columns):
#                 11591 non-null int64
INCIDENT TITLE    11591 non-null object
INCIDENT DATE     11591 non-null object
LOCATION          11591 non-null object
DESCRIPTION       11591 non-null object
CATEGORY          11591 non-null object
LATITUDE          11591 non-null float64
LONGITUDE         11591 non-null float64
NEW CATEGORY      3529 non-null object
More Info         173 non-null object
APPROVED          11591 non-null object
VERIFIED          11591 non-null object
dtypes: float64(2), int64(1), object(9)
memory usage: 1.1+ MB

In [4]:
# Modify categories for clustering
old_category, new_category = [], []
for i in data.index:
    old_category.append(data['CATEGORY'][i])
    new_category.append("")

# print(len(new_cat))

In [6]:
from collections import defaultdict

count_ = defaultdict(int)
for i in range(len(old_category)):
    string = old_category[i].strip().split(',')
    count_[string[0]] += 1

count_

defaultdict(int,
            {'Stalking': 462,
             'Catcalls/Whistles': 2483,
             'Sexual Invites': 585,
             'Others': 689,
             'Touching /Groping': 2070,
             'Commenting': 2576,
             'Rape / Sexual Assault': 421,
             'Indecent exposure': 320,
             'Chain Snatching': 346,
             'Ogling/Facial Expressions/Staring': 1146,
             'Taking pictures': 328,
             'Poor / No Street Lighting': 156,
             'Online Harassment': 1,
             'North East India Report': 8})

In [8]:
for i in range(len(old_category)):
    string = old_category[i].strip().split(',')
    if count_[string[0]] < 200: # club sparse classes
        new_category[i] = 'Others'
    else:
        new_category[i] = string[0]

In [10]:
data_new = {'DESCRIPTION': data['DESCRIPTION'], 'CATEGORY': new_category}
df = pd.DataFrame(data_new)

In [11]:
df.head()

                                         DESCRIPTION           CATEGORY
0                      guy just started following me           Stalking
1                    Was walking by the town library  Catcalls/Whistles
2                    Was walking by the town library  Catcalls/Whistles
3  In our school there is a male teacher who foll...     Sexual Invites
4  There is a girl who loves having sex and getti...             Others

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11591 entries, 0 to 11677
Data columns (total 2 columns):
DESCRIPTION    11591 non-null object
CATEGORY       11591 non-null object
dtypes: object(2)
memory usage: 591.7+ KB

In [13]:
df['CATEGORY'].value_counts()

Commenting                           2576
Catcalls/Whistles                    2483
Touching /Groping                    2070
Ogling/Facial Expressions/Staring    1146
Others                                854
Sexual Invites                        585
Stalking                              462
Rape / Sexual Assault                 421
Chain Snatching                       346
Taking pictures                       328
Indecent exposure                     320
Name: CATEGORY, dtype: int64

In [14]:
df.to_csv('category.csv') # write to new file